<div class='row text-center'>

</div>
<div class='row'>
  <div class="line-break"> </div>
  <% page.posts.each(function(post){ %>
    <h3>
                <a href="<%- url_for(post.path) %>">
           <%= post.title %>
          </a>
            </h3>
    <div class='text-muted'>
      <%= date(post.date, config.date_format) %>
    </div>

    <% if(post.excerpt) { %>
      <p>
        <%- post.excerpt %>
      </p>
      </br>
      <% } %>
        <div class="line-break"> </div>
        <% }) %>
</div>
